@using Fyter.CoreBusiness.FighterModel
<h2 class="fw-bold mb-4">Health</h2>

@foreach (var statProp in typeof(Health).GetProperties())
{
    var statName = statProp.Name;
    var labelText = $"{statName}:";
    var ratingProp = $"Health.{statName}.Value";
    var starsRatingProp = $"Health.{statName}.Stars";

    <div class="mb-3">
        <FighterStarsAttributeComponent
            Fighter="@Fighter"
            Label="@labelText"
            Stars="@((statProp.GetValue(Fighter.Health) as Stat).Stars)"
            Value="@((statProp.GetValue(Fighter.Health) as Stat).Value)"
            StarsRatingOutdatedProp="@starsRatingProp"
            RatingOutdatedProp="@ratingProp" />
    </div>
}

